{% extends "upgrades/home.html" %}
{% block content %}
    <h1>Scheduled Time: {{ object.scheduled_upgrade }}</h1>
<p> Devices:
{% for device in object.devices.all %}
                {{ device.dnsName }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
</p>
    <p> Description: {{ object.description }}</p>
    <p> User: {{ object.user }}</p>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'upgrades:upgrade-update' object.id %}"> Update </a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'upgrades:upgrade-delete' object.id %}"> Delete </a>
{% endblock content %}
{% block nav_items %}
<a class="nav-item nav-link" href="{% url 'upgrades:upgrades-create' %}">New Upgrade</a>
{% endblock nav_items %}